body {
  margin: 0;
  padding: 0; }

header {
  position: relative; }
  header h1 {
    text-transform: uppercase;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 20px;
    display: inline;
    margin: 0;
    padding: 0 5px;
    border: 1.5px solid #b0471f;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #b0471f; }

#logo {
  background-image: url('/assets/logo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  height: 60px;
  display: block;
  position: relative;
  margin: auto; }
  @media only screen and (max-width: 640px) {
    #logo {
      margin-left: 0;
      float: left; } }

#logo_line {
  background-image: url('/assets/header_bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  top: 30px; }
  @media only screen and (max-width: 640px) {
    #logo_line {
      display: none; } }

.nav-bar {
  clear: both;
  background-color: #3a3a3c;
  margin-bottom: 0; }
  .nav-bar ul {
    margin: auto;
    text-align: center;
    height: 50px;
    word-spacing: 5px; }
    @media only screen and (max-width: 640px) {
      .nav-bar ul {
        word-spacing: none;
        vertical-align: middle; } }
  .nav-bar li {
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    color: grey;
    display: inline-block;
    text-align: center;
    height: 42px;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 10px; }
    @media only screen and (max-width: 640px) {
      .nav-bar li {
        margin-top: 0; } }
  .nav-bar li:hover {
    color: #e85f1c; }
  @media only screen and (max-width: 640px) {
    .nav-bar .nav_board {
      height: 50px;
      border-right: 1px solid #818285;
      border-left: 1px solid #818285;
      padding: 0 20px; } }
  @media only screen and (max-width: 640px) {
    .nav-bar span {
      display: none; } }

.all {
  background-image: url('/assets/bg.jpg');
  clear: both; }

.content {
  background-color: white;
  height: 500px;
  width: 350px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  margin: 15px;
  vertical-align: top; }
  @media only screen and (max-width: 640px) {
    .content {
      min-height: 400px;
      height: auto; } }
  .content h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 110%;
    margin: 0 5%; }
    .content h2 :hover {
      color: #b2471f; }
  .content .caption {
    color: #818285; }
  .content p {
    font-size: .9rem;
    margin: 5%; }
    .content p span {
      font-size: 1.3rem; }
  @media only screen and (max-width: 640px) {
    .content {
      margin: 0 15px 15px 0;
      width: 95%; } }

.content > h2:hover {
  color: #b2471f; }

.info {
  margin: auto;
  max-width: 765px;
  padding: 25px 0 60px; }
  @media only screen and (max-width: 640px) {
    .info {
      margin-left: 5%; } }

.img1 {
  background-image: url('/assets/wizard_pup.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 800px;
  width: auto;
  height: 180px;
  margin: 20px; }
  @media only screen and (max-width: 640px) {
    .img1 {
      max-width: 400px;
      width: auto;
      padding: 5px; } }

@media only screen and (min-width: 961px) {
  footer {
    background-color: #3a3a3c;
    width: 100%;
    height: 60px;
    border-top: 1px solid #3a3a3c;
    margin: auto;
    text-align: center; }
    footer #fb {
      background-image: url('/assets/facebook_grey.svg');
      background-size: cover;
      width: 30px;
      height: 30px;
      background-position: center;
      display: inline-block;
      margin-top: 10px; }
    footer #instagram {
      background-image: url('/assets/instagram_grey.svg');
      background-size: cover;
      background-position: center;
      width: 30px;
      height: 30px;
      margin-top: 10px;
      margin-left: 6px;
      display: inline-block; }
      footer #instagram :hover {
        background-image: url('/assets/instagram_orange.svg'); } }
